#About {
    padding:2%;
    border-color: #FF6D00;
    border-style: solid;
    border-width: 40px;
}

.about-me .content h3 {
    font-weight: 700;
    font-size: 26px;
    color: #FF6D00;
  }
  
  .about-me .content ul {
    list-style: none;
    padding: 0;
  }
  
  .about-me .content ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  .about-me .content ul strong {
    margin-right: 10px;
  }
  
  .about-me .content ul i {
    font-size: 16px;
    margin-right: 5px;
    color: #FF6D00;
    line-height: 0;
  }
  
  .about-me .content p:last-child {
    margin-bottom: 0;
  }