body {
    padding:0;
    margin:0;
    display:flex; 
    flex-direction:column; 
    height:100vh;
    background-color:black;
    color:white;
}

.div-animate {
    width: 100px;
    height: 100px;
    background-color: green;
}

img {
    border-color: black;
    border-style: solid;
    border-width: 10px;
}

.vertical-center {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.lamp {
    width:20%;
    border-style: none;
    
}

.note {
    background-color: white;
    
    margin-top: 5%;
    padding : 3%;
    box-shadow: -4px 5px 6px 2px rgb(0 0 0 / 20%);
}


.jqcloud {
    line-height:normal!important;
}

.jqcloud-word {
    white-space: normal;
}

